<div class="sticky_wrapper" id="sticky_wrapper_<%= sticky.id %>" data-sticky-id="<%= sticky.id %>">
  <div class="sticky_wrapper sticky_header">
    <div class="delete_icon" data-sticky-id="<%= sticky.id %>">
      <%= image_tag "icons/delete.png", {width: 15} %>
    </div>
  </div>

    <div>
      <div class="sticky_wrapper content_container" data-sticky-id="<%= sticky.id %>">
        <%= sticky.details %>
      </div>
      <div>
        <% sticky.owners.each do |owner| %>
          <%= render("member", :user => owner) %>
        <% end %>
      </div>
    </div>

</div>
